.transactionsContainer {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  margin-bottom: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse; /* Remove gaps between table cells */
  margin-top: 16px;
}

.tableHeader {
  background-color: cadetblue;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

.tableRow:nth-child(even) {
  background-color: rgb(
    146,
    146,
    146
  ); /* Light gray background for even rows */
}
.tableRow:nth-child(odd) {
  background-color: rgb(
    105,
    105,
    105
  ); /* Light gray background for even rows */
}

.tableCell {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}
.columnList {
  display: flex; /* Arrange items side by side */
  gap: 16px; /* Add space between columns */
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.columnItem {
  font-weight: bold; /* Optional: Make column headers bold */
  text-align: center; /* Center-align text */
}
