.listItem {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
  list-style-type: none;
  text-align: center;
  background-color: grey;
}
.listItem:hover {
  background-color: rgb(104, 103, 103);
  cursor: pointer;
}
.listItem:active {
  background-color: rgb(82, 82, 82);
}
